
/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
*/


.wrapper{
    margin: 100px auto;
    max-width: 1500px;
}
.wrapper nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
   
}
nav .items{
    display: flex;
    max-width: 720px;
    width: auto;   
}
.button1{
margin-right: 15px;
margin-bottom: 10px;
background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 52px;
}
nav .items .item:hover{
    color: black;
   background-color: wheat;
}
.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
.gallery .image{
    display: flex;
    padding: 8px;
    width: calc(100%/4);
    object-fit: contain;
}
.gallery img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }

.gallery .image.hide{
    display: none;
}
.gallery .image.show{
   animation: animate 0.4s ease;
}

@keyframes animate{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
.gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
}
/*
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
*/
.gallery .image img{
    width: 100%;
    object-fit:contain;
}

.gallery .image:hover img{
    transform: scale(1.1);
}

.preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: burlywood;
    max-width: 700px;
    width: 100%;
    z-index: 9999;
    pointer-events: none;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    display: none;
}

.preview-box .show{
    display: block;
    pointer-events: auto;
}
.preview-box .image-box{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.preview-box .details{ /* kurang display flex */
    align-items: center;
    padding: 13px 15px 13px 10px;
}
.preview-box .details .posisi{
    display: flex;
    justify-content: flex-end;
}
.preview-box .details .title{
    display: flex;
    font-weight: 400;
    font-size: 18px;
}
.details .title p{
    margin-left: 5px;
    font-weight: bold;
}
.fa[data-icon="icon"]::before {
    content: "\f057"; /* the content code for the checkmark icon (same as "fa-check") */
}

.details .icon{
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 10px;
}
.image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
}
.shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background-color: rgba(0,0,0,0.6);
}

/*-------------------------responsive image---------------------- */
@media(max-width:1000px){
    .gallery .image{
        display: flex;
        padding: 8px;
        width: calc(100%/3);
    }
}

@media(max-width:800px){
    .gallery .image{
        display: flex;
        padding: 8px;
        width: calc(100%/2);
    }
}

@media(max-width:500px){
    .gallery .image{
        display: flex;
        padding: 8px;
        width: calc(100%/1);
    }
}

@media(max-width:700px){        /*nav items masih belum responsive*/
   nav .items{
    max-width: 600px;
   }
   nav .items.item{
    padding: 7px 15px;
    margin-right: 5px;
   }
   
}


@media(max-width:600px){
    nav .items{
    flex-wrap: wrap;
    justify-content: center;
    }
    nav .items.item{
    margin: 5px;
    }
    .gallery.image{
        width: 100%;

    }
 }
 @media(max-width:400px){
    nav .items{
    flex-wrap: wrap;
    justify-content: center;
    }
    nav .items.item{
    margin-right:  5px;
    }
    .gallery.image{
        width: 100%;

    }
 }


 .goog-te-menu-value span:nth-child(3), 
 .goog-te-menu-value span:nth-child(5), 
 .goog-te-gadget-icon, 
 .goog-te-banner-frame.skiptranslate {
     display:none !important;
   }
 
 div#google_translate_element div.goog-te-gadget-simple {
     border: none;
     background-color: transparent;
 }
 .translate{
   border-radius: 12px;
   margin:auto
 }