@font-face {
    font-family: 'Copperplate'; 
    src: url('../font/Copperplate.ttf');
}

@font-face {
    font-family: 'Cambria';
    src: url('../font/Cambria.ttf');
}


@font-face {
    font-family: 'Roseritta';
    src: url('../font/Roseritta.ttf');
}

.border {
    /* mengatur seluruh border */
    border: 3px;
    padding: 15px; 

}

.unbi {
    /* mengatur font nama kampus di heading */
    margin-top: -70px;
    margin-left: 83px;
    font-family: Roseritta;
    font-size: 16px;
    color: darkgray;


}

.informatika {
    /* tidak tau apa */
    margin-left: 400px;

}

.masuk {
    /* mengatur font sign in */

    font-family: Copperplate;
}

.daftar {
    /* memgatur font sign up */

    font-family: Copperplate;
}

.selamat {
    /* mengatur font kalimat pembuka */
    font-size: 30px;
    line-height: 1.2;
    font-family: Cambria;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tentang {
    /* mengatur card dibawah tulisan selamat datang */
    margin: 0 auto;
}

.baca {
    /* tidak tau apa */
    font-size: 12px;
}

.menu1 {
    /* mengatur seluruh bagian menu */
    font-family: Copperplate;
    color: darkgray;
}

.sistem {
    /* tidak tau apa */
    margin-left: 50px;
}

.logo1 {
    /*mengatur logo di footer */
    margin-bottom: 40px;


}

.unbi2 {
    /*mengatur tulisan unbi di footer */
    margin-left: 100px;
    margin-top: -58px;
    font-family: Copperplate;
    font-size: 13px;
    color: darkgray;

}

.logo3 {
    /* untuk mengatur logo yang di header */
    margin-top: 15px;
}

.color1 {
    /*mengatur warna di bagian header sampai image slider */
    background-color: #053b06;

}

.color2 {
    /* mengatur warna background homepage */
    background-color: floralwhite;
}

.color3 {
    /* mengatur warna background card */
    background-color: floralwhite;
    margin-left: 0px;
    margin-right: 0px;

}

.isi {
    /* mengatur bagian isi pembuka */
    font-family: Cambria;
    font-size: 16px;
    color: black;
    margin-bottom: 100px;
}

/*main footer */
footer .main-footer {
    padding: 20px 0;
    background: #1f2605;

}

footer ul {
    padding-left: 0;
    list-style: none;
}

/* copyright footer */
.footer-copyright {
    background: #091e05 ;
    padding: 5px 0;
}

.footer-copyright .logo {
    display: inherit;
}

.footer-copyright nav {
    float: right;
    margin-top: 5px;
}

.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-copyright nav ul li {
    border-left: 1px solid #505050;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}

.footer-copyright nav ul li a {
    color: #969696;
}

.footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}

.footer-copyright p {
    color: #969696;
    margin: 2px 0 0;
}

/* footer top */

.footer-top {
    background: #252525;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #222;
}

/* footer transparent */
footer.transparent .footer-top,
footer.transparent .main-footer {
    background: transparent;
}

footer.transparent .footer-copyright {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* footer light */
footer.light .footer-top {
    background: #f9f9f9;
}

footer.light .main-footer {
    background: #f9f9f9;
}

footer.light .footer-copyright {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* widgets */

/* bagian span (semacam garis bawah yang memisah judul dengan isi)*/
.widget-title span {
    background: #839FAD none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-top: 25px;
    position: relative;
    width: 20%;
}

.widget-title span::after {
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}

.widget-title.text-center span,
.widget-title.text-center span::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/*akhir dari span */


/*mengatur warna dari font bagian footer */
.typo-light div,
.typo-light span,
.typo-light small {
    color: darkgray;
}

/*mengatur posisi icon sosmed 
ul.social-footer2 li {
    display: inline-block;
    padding: 0;
}*/

/*mengatur warna background icon sosmed ketika ingin diklik */
ul.social-footer2 li a:hover {
    background-color: #ff8d1e;

}

/*mengatur format ukuran background icon ketika ingin di klik */
ul.social-footer2 li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}

/*mengatur font di footer*/
.font-footer {
    font-family: Copperplate;
}

/*mengatur font dibawah prodi informatika di footer */
.inti {
    font-family: Cambria;
}

/*mengatur font di copyright */
.copy {
    font-family: Copperplate;
    font-size: 12px;
}

/*mengatur warna bagian dropdown */
.drop {
    color: darkgray;
    background-color: #053b06;
}

.tengah {
 /*mengatur agar menu berada di tengah*/

margin-left: 430px;
}


  /* ======button lihat lebih====== */

  .button {
    padding: 10px 25px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #053b06;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }
  
.button:hover {background-color: #3e8e41}
  
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

/*=======batas dari button lihat lebih======*/
