@font-face{
    font-family: 'Futura Book Font';
    src: url(../font/Futura\ Book\ font.ttf);
}
@font-face{
    font-family: 'futura medium condensed bt';
    src: url(../font/futura\ medium\ condensed\ bt.ttf);
}
@font-face{
    font-family: 'Roseritta';
    src: url(../font/Roseritta.ttf);
}
body{
    background-color:  #283618;
}

.font{
    /* mengatur warna background, ukuran font, tipe font, warna font, margin card atas */
    font-size: 16px;
    font-family: Futura Book Font;
    color: black;   
    
}

.font1{

    /*mengatur warna pada tulisan username dan password */
    color: black;
    
}
.atur{
    /*mengatur warna background  card dan margin card */
    background-color: #283618;
    margin-top: 120px;
    border: none;
}
.logo-name {
    /* mengatur font nama perusahaan di heading */
    margin-top: -64px;
    margin-left: 93px;
    font-family:Roseritta;
    font-size: 16px;
    color: darkgray;
}
.logo {
    /* untuk mengatur logo yang di header */
    margin-top: 15px;
}   

